<h1>Comments</h1>
<% comment_list.each do |comment| %>
  <div class="panel">
    <h5><%= comment.user.name %></h5>
    <%= image_tag(comment.user.avatar_url) %>
    <%= comment.body %>

    <% if signed_in? && current_user.admin? %>
      <%= link_to 'Destroy Comment',
        url_for([@commentable, comment]),
        method: :delete,
        data: { confirm: 'Are you sure?' }
      %>
    <% end %>
  </div>
<% end %>
