
<div class="row">
<h1>Listing pages</h1>
  <% if signed_in? && current_user?(@owner) %>
      <%= link_to 'New Page', new_post_page_path(@pageable), class: "button" %>
  <% end %>
</div>
<div class="row" id="all_pages">

  <%= render "pages/page" %>

</div>

<div class="row">
  <%= will_paginate @pages %>
</div>
