<div class="row">

  <div class="small-3 columns">
    <%= label_tag 'Tags', 'Tags', class: 'right inline' %>
  </div>

  <%= form.fields_for :tags do |t| %>

    <div class="small-3 columns">
      <%= t.select(:name, [['Select', nil], 'Action', 'Comedy']) %>
    </div>

    <div class="small-3 columns">
    </div>

    <div class="small-3 columns">
    </div>

  <% end %>

</div>
