<div class="row">
  <h1>Web Graphic Novels</h1>
  <hr />
</div>


<div class="row">
  <h3>Recently Updated
    <small><a href="/new_posts">See all</a></small></h3>
  </h2>
</div>

<div class="row">
  <%= render "posts/post", post_list: @updated_posts %>
  <hr />
</div>

<div class="row">
  <h3>Newest Stories</h3>
</div>

<div class="row">
  <%= render "posts/post", post_list: @newest_posts %>
</div>



