<div class="row">
  <h2>Newest Stories</h2>
</div>
<div class="row" id="all_posts">
  <%= render "posts/post", post_list: @new_posts %>
</div>

<div class="row">
  <%= will_paginate @new_posts %>
</div>
